# Database for Local
DB_CLIENT="pg"
DB_HOST="database"
DB_PORT="5432"
DB_DATABASE="postgres"
DB_USER="postgres"
DB_PASSWORD="<DB_PASSWORD>"

# Initial Admin
ADMIN_EMAIL="admin+<client name>@ultimatesites.au"
ADMIN_PASSWORD="<initial admin password>"
#NOTE: Update the above ADMIN_EMAIL and ADMIN_PASSWORD with secure values before deploying to production.
#IMPORTANT database recovery may override the initial admin credentials, so please check Dokploy Env variables if your unable to login with the above credentials after a database recovery. 

# Security
KEY="<SECURE_RANDOM_KEY>"
SECRET="<SECURE_RANDOM_SECRET>"

# Directus
PUBLIC_URL="http://localhost:8055"
EXTENSIONS_AUTO_RELOAD="true"
EXTENSIONS_PATH="/directus/extensions"

# Production AWS S3 Media Configuration
STORAGE_LOCATIONS="s3"
STORAGE_S3_DRIVER="s3"
STORAGE_S3_KEY="<S3_ACCESS_KEY>"
STORAGE_S3_SECRET="<S3_SECRET_KEY>"
STORAGE_S3_REGION="<S3_REGION>"
STORAGE_S3_BUCKET="<S3_BUCKET_NAME>"
STORAGE_S3_PUBLIC_URL="https://<S3_BUCKET_NAME>.s3.<S3_REGION>.amazonaws.com"

# Schema Sync
SCHEMA_SYNC_PATH="/directus/snapshot/schema.yaml"
